html,
body {
  font-family: itc korinna;
  font-size: 90%;
  color: white;
  text-shadow: 3px 3px black;
  background-color: rgb(0, 27, 121);
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

.jumbotron {
  background-color: rgb(0, 27, 121);
  height: 100vh;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

h1 {
  font-family: gyparody;
  color: rgb(238, 206, 94);
}

/* #answer-display {
  min-height: 86px;
} */

/* #question {
  max-height: 300px;
} */

.btn-primary {
  color: rgb(238, 206, 94);
  background-color: rgb(0, 27, 121);
  border-color: rgb(0, 27, 121);
}

.btn-primary:hover {
  color: white;
  background-color: rgb(0, 27, 121);
  border-color: rgb(0, 27, 121);
}
