body {
  font-family: itc korinna;
  color: white;
  text-shadow: 3px 3px black;
  background-color: rgb(0, 27, 121);
}

.jumbotron {
  background-color: rgb(0, 27, 121);
  height: 500px;
}

h1 {
  font-family: gyparody;
  color: rgb(238, 206, 94);
}

#answer-display {
  min-height: 86px;
}

#question {
  max-height: 300px;
}

.btn-primary {
  color: rgb(238, 206, 94);
  background-color: rgb(0, 27, 121);
  border-color: rgb(0, 27, 121);
}

.btn-primary:hover {
  color: white;
  background-color: rgb(0, 27, 121);
  border-color: rgb(0, 27, 121);
}

